# Site settings
lang: en-US
title: Vadym Nastoiashchyi
email: vadym.nastoiashchyi@hotmail.com
description: >-
  Software quality fanatic | Software Engineer in Test
baseurl: ""
url: 
use_logo: false
use_copyright: true
timezone: Europe/Kyiv

# https://github.com/mmistakes/jekyll-theme-basically-basic#author
author:
  name: Vadym Nastoiashchyi
  picture: /assets/avatar.png

github_username: VadimNastoyashchy
linkedin_username: vadym-nastoiashchyi
# logo: /assets/images/avatar.png

# Based on https://github.com/mmistakes/jekyll-theme-basically-basic#google-analytics
google_analytics_id: G-8VGGL0NVS2

# https://github.com/mmistakes/jekyll-theme-basically-basic#search
search: true
search_full_content: false
search_provider: lunr

markdown: kramdown
kramdown:
    highlighter: rouge
    syntax_highlighter_opts:
        block:
            line_numbers: true
remote_theme: "mmistakes/jekyll-theme-basically-basic"
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-target-blank
feed:
  path: atom.xml
  tags: true
  posts_limit: 10

target-blank:
   noopener: true
   noreferrer: true
   rel: nofollow

# Pagination - https://github.com/mmistakes/jekyll-theme-basically-basic#pagination
paginate: 15
paginate_path: /page-:num/

# https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
social:
  name: Vadym Nastoiashchyi
  links:
    - https://www.linkedin.com/in/vadym-nastoiashchyi
    - https://github.com/VadimNastoyashchy

# Exclude from processing.
exclude:
  - .asset-cache
  - .bundle
  - .github
  - .editorconfig
  - .gitattributes
  - .jekyll-assets-cache
  - .jekyll-cache
  - CHANGELOG
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - node_modules
  - README
  - CNAME
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

defaults:
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      read_time: true
      comments: true

comments:
  giscus:
    enabled: true
    repo: "VadimNastoyashchy/vadimnastoyashchy.github.io"
    repo_id: "R_kgDONws5cA"
    category: "General"
    category_id: "DIC_kwDONws5cM4Cmc8H"
    mapping: "pathname"
    reactions_enabled: "1"
    theme: "light"

# Custom links instead of "/:year/:month/:day/:title"
permalink: /:title