{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="entry entry-card">
  <a href="{{ post.url | relative_url }}" class="entry-card-link" rel="bookmark">
    <!-- {% if post.image.thumbnail %}
      {% assign entry_image = post.image.thumbnail %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <div class="entry-card-thumbnail">
        <img class="entry-card-image u-photo" src="{{ entry_image }}" alt="{{ title }}">
      </div>
    {% elsif post.image %}
      {% assign entry_image = post.image %}
      {% unless entry_image contains '://' %}
        {% assign entry_image = entry_image | relative_url %}
      {% endunless %}
      {% assign entry_image = entry_image | escape %}
      <div class="entry-card-thumbnail">
        <img class="entry-card-image" src="{{ site.url }}{{ entry_image }}" alt="{{ title }}">
      </div>
    {% endif %} -->
  </a>

  <div class="entry-card-content">
    <header class="entry-header">
      <h2 class="entry-title">
        <a href="{{ post.url | relative_url }}" rel="bookmark">{{ title }}</a>
      </h2>
      

      <ul class="entry-tags">
        {% assign sorted_tags = post.tags | sort_natural %}
        {% for tag in sorted_tags %}
          <li>
            <span class="icon">{% include icon-hashtag.svg %}</span>
            <a href="{{ tag | slugify | prepend: '/tags/#' | prepend: site.tag_archive.path | relative_url }}" rel="tag">{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>
    </header>

    <div class="entry-excerpt">
      {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
      {% endif %}
    </div>

    <footer class="entry-meta">
      <ul>
        {% if post.date %}
          <li><span class="icon">{% include icon-calendar.svg %}</span><time class="entry-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></li>
        {% endif %}
        {% if post.read_time %}
          <li><span class="icon">{% include icon-stopwatch.svg %}</span>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</li>
        {% endif %}
      </ul>
    </footer>
  </div>
</article>
