{% if site.logo contains '://' %}
  {% assign site_logo = site.logo %}
{% else %}
  {% assign site_logo = site.logo | relative_url %}
{% endif %}

<header id="masthead">
  <div class="inner">
    <div class="title-area">
      <div class="site-title">
        <a href="{{ '/' | relative_url }}" class="brand">
          {% if site.use_logo %}
            <img src="{{ site.url }}{{ site_logo }}/assets/images/avatar.png" alt="" class="site-logo">
          {% endif %}
          <span>{{ site.title | escape }}</span>
        </a>

        <nav class="site-inline-nav">
          <a href="{{ site.url }}/posts">Posts</a>
          <a href="{{ site.url }}/about">About</a>
        </nav>
      </div>
    </div>
  </div>
</header>
